<!-- xss attack  -->
<div [innerHtml]="xss"></div>

<div *ngIf="!isShown">
    <h5 class="text-danger text-center">Enter a valid keyword! </h5>
</div>

<div class="container" *ngIf="isShown">
    <table class="table is-striped">
        <thead>
            <tr>
                <th>Title</th>
                <th>Word Count</th>
                <th>Snippet</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let item of pages">
                <td>
                    <a [href]= " 'https://en.wikipedia.org?curid=' + item.pageid " target="_blank">
                        {{ item.title }}
                    </a>
                </td>  
                <td>{{ item.wordcount }}</td>  
                <td innerHtml="{{item.snippet}}"></td>  
            </tr>
        </tbody>
    </table>
</div>

